
body {background-color: rgb(221, 15, 15);
}

h2 {color: palevioletred;}

h1 {color: goldenrod;}



h1 {font-size: 100%;
}

h1 {margin-right: 5%;}

#im2 {margin-left: 33%;}

#im2 {width: 30%;}

#im1 {margin-left: 20%;}

#im8 {margin-left: 30%;}

#im8 {width: 30%;}

#im3 {margin-left: 33%;}

#im3 {width: 30%;}

#im4 {margin-left: 20%;}

#im4 {width: 30%;}

#im5 {margin-left: 30%;}

#im5 {width: 30%;}

#im6 {margin-left: 30%;}

#im6 {width: 30%;}

#im7 {margin-left: 30%;}

#im7 {width: 30%;}

#im9 {margin-left: 30%;}

#im9 {width: 30%;}

#im10 {margin-left: 30%;}

#im10 {width: 30%;}

div {
    background-color: rgb(165, 134, 33)
  }

  p.solid {border-style: solid;}

  




